### Spark fundamentals

In [1]:
# Import pyspark(Spark's python wrapper)
from pyspark.sql import SparkSession

In [2]:
# Create spark session
spark = SparkSession.builder.getOrCreate()

In [3]:
# Define file path
file_path = "./data/people.csv"

# Load data from a csv file
df = spark.read.csv(file_path, header=True)

# Preview data
df.show()

+-----+---------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+-------------------+
|Index|Organization Id|                Name|             Website|             Country|         Description|Founded|            Industry|Number of employees|
+-----+---------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+-------------------+
|    1|E84A904909dF528|          Liu-Hoover|http://www.day-ha...|      Western Sahara|Ergonomic zero ad...|   1980|   Online Publishing|               6851|
|    2|AAC4f9aBF86EAeF|       Orr-Armstrong|https://www.chapm...|             Algeria|Ergonomic radical...|   1970|     Import / Export|               7994|
|    3|ad2eb3C8C24DB87|           Gill-Lamb|     http://lin.com/|       Cote d'Ivoire|Programmable inte...|   2005|   Apparel / Fashion|               5105|
|    4|D76BB12E5eE165B|         Bauer-Weiss|https://gillespie...|United States of ...|Synergistic maxim...|   2015|               Dairy|               9069|
|    5|2F31EddF2Db9aAE|         Love-Palmer| https://kramer.com/|             Denmark|Optimized optimiz...|   2010|Management Consul...|               6991|
|    6|6774DC1dB00BD11|Farmer, Edwards a...|http://wolfe-boyd...|      Norfolk Island|Virtual leadinged...|   2003|  Mental Health Care|               3503|
|    7|116B5cD4eE1fAAc|Bass, Hester and ...|https://meza-smit...|          Uzbekistan|Multi-tiered syst...|   1994|   Computer Hardware|               2762|
|    8|AB2eA15d98b6BD4|Strickland, Gray ...|   http://kerr.info/|              Israel|Team-oriented fre...|   1987|     Performing Arts|               7020|
|    9|0c6D831e8DceCfE|Sparks, Decker an...|https://www.howe....|              Israel|Down-sized conten...|   1977|Marketing / Adver...|               2709|
|   10|9ABE0c8aee135d6|Osborn, Ford and ...|http://www.mcdona...|Syrian Arab Republic|Optional coherent...|   1990|Investment Bankin...|               5731|
|   11|C494aBe0CDB9c70|        Gonzales Inc|    http://lara.org/|              Angola|Enterprise-wide a...|   2019|Capital Markets /...|               2252|
|   12|9FBF69aa2D9AAF1|Ballard, Goodman ...|http://berger-che...|                Iran|Multi-layered zer...|   2019|Logistics / Procu...|               6165|
|   13|4EB9d3E5cF79b91|Bernard, Payne an...|http://williamson...|         Afghanistan|Polarized dynamic...|   1990|      Transportation|                730|
|   14|e5CA6529DCD4030| Mcpherson-Blanchard|http://www.ward.com/|            Bulgaria|Integrated didact...|   1972|     Law Enforcement|               9890|
|   15|b0BBeBB36bAbb35|Koch, Gomez and Hays|http://ewing-rosa...|French Southern T...|Operative nationa...|   1997|  Financial Services|               8497|
|   16|CDa7Ec784D5A8Bd|Meza, Ramirez and...|  https://hardy.biz/|         Timor-Leste|Customer-focused ...|   2012|Public Relations ...|               5205|
|   17|b7cBE6A9E79A56F|Morales, Hinton a...| https://hudson.com/|              Serbia|Seamless global u...|   2014|Museums / Institu...|               6706|
|   18|e5cab57FFF6f4bd|       Abbott-Arroyo| http://delgado.net/|             Hungary|Visionary holisti...|   1994|Architecture / Pl...|                117|
|   19|3851f381Ea54d70|       Trevino-Foley| https://baxter.com/|              Canada|Enterprise-wide 6...|   1973|      Wine / Spirits|               6765|
|   20|2FaDD3Ac0fB4052|Bowman, Walters a...|https://www.drake...|               Yemen|Exclusive client-...|   1988|         Think Tanks|               5926|
+-----+---------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+-------------------+
only showing top 20 rows

In [4]:
# Define table name
table_name = "organizations"

# Create an SQL table 
df.createOrReplaceTempView(table_name)

In [5]:
# Define query
query = f"SELECT * FROM {table_name}"

# Query the table
spark.sql(query).show()

+-----+---------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+-------------------+
|Index|Organization Id|                Name|             Website|             Country|         Description|Founded|            Industry|Number of employees|
+-----+---------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+-------------------+
|    1|E84A904909dF528|          Liu-Hoover|http://www.day-ha...|      Western Sahara|Ergonomic zero ad...|   1980|   Online Publishing|               6851|
|    2|AAC4f9aBF86EAeF|       Orr-Armstrong|https://www.chapm...|             Algeria|Ergonomic radical...|   1970|     Import / Export|               7994|
|    3|ad2eb3C8C24DB87|           Gill-Lamb|     http://lin.com/|       Cote d'Ivoire|Programmable inte...|   2005|   Apparel / Fashion|               5105|
|    4|D76BB12E5eE165B|         Bauer-Weiss|https://gillespie...|United States of ...|Synergistic maxim...|   2015|               Dairy|               9069|
|    5|2F31EddF2Db9aAE|         Love-Palmer| https://kramer.com/|             Denmark|Optimized optimiz...|   2010|Management Consul...|               6991|
|    6|6774DC1dB00BD11|Farmer, Edwards a...|http://wolfe-boyd...|      Norfolk Island|Virtual leadinged...|   2003|  Mental Health Care|               3503|
|    7|116B5cD4eE1fAAc|Bass, Hester and ...|https://meza-smit...|          Uzbekistan|Multi-tiered syst...|   1994|   Computer Hardware|               2762|
|    8|AB2eA15d98b6BD4|Strickland, Gray ...|   http://kerr.info/|              Israel|Team-oriented fre...|   1987|     Performing Arts|               7020|
|    9|0c6D831e8DceCfE|Sparks, Decker an...|https://www.howe....|              Israel|Down-sized conten...|   1977|Marketing / Adver...|               2709|
|   10|9ABE0c8aee135d6|Osborn, Ford and ...|http://www.mcdona...|Syrian Arab Republic|Optional coherent...|   1990|Investment Bankin...|               5731|
|   11|C494aBe0CDB9c70|        Gonzales Inc|    http://lara.org/|              Angola|Enterprise-wide a...|   2019|Capital Markets /...|               2252|
|   12|9FBF69aa2D9AAF1|Ballard, Goodman ...|http://berger-che...|                Iran|Multi-layered zer...|   2019|Logistics / Procu...|               6165|
|   13|4EB9d3E5cF79b91|Bernard, Payne an...|http://williamson...|         Afghanistan|Polarized dynamic...|   1990|      Transportation|                730|
|   14|e5CA6529DCD4030| Mcpherson-Blanchard|http://www.ward.com/|            Bulgaria|Integrated didact...|   1972|     Law Enforcement|               9890|
|   15|b0BBeBB36bAbb35|Koch, Gomez and Hays|http://ewing-rosa...|French Southern T...|Operative nationa...|   1997|  Financial Services|               8497|
|   16|CDa7Ec784D5A8Bd|Meza, Ramirez and...|  https://hardy.biz/|         Timor-Leste|Customer-focused ...|   2012|Public Relations ...|               5205|
|   17|b7cBE6A9E79A56F|Morales, Hinton a...| https://hudson.com/|              Serbia|Seamless global u...|   2014|Museums / Institu...|               6706|
|   18|e5cab57FFF6f4bd|       Abbott-Arroyo| http://delgado.net/|             Hungary|Visionary holisti...|   1994|Architecture / Pl...|                117|
|   19|3851f381Ea54d70|       Trevino-Foley| https://baxter.com/|              Canada|Enterprise-wide 6...|   1973|      Wine / Spirits|               6765|
|   20|2FaDD3Ac0fB4052|Bowman, Walters a...|https://www.drake...|               Yemen|Exclusive client-...|   1988|         Think Tanks|               5926|
+-----+---------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+-------------------+
only showing top 20 rows

In [6]:
# Inspect table schema
result = spark.sql(f"SHOW COLUMNS FROM {table_name}")

result.show()

+-------------------+
|           col_name|
+-------------------+
|              Index|
|    Organization Id|
|               Name|
|            Website|
|            Country|
|        Description|
|            Founded|
|           Industry|
|Number of employees|
+-------------------+

In [7]:
# Inspect table schema
result = spark.sql(f"SELECT * FROM {table_name} LIMIT 0")

print(result.columns)

['Index', 'Organization Id', 'Name', 'Website', 'Country', 'Description', 'Founded', 'Industry', 'Number of employees']

In [8]:
# Inspect table schema
result = spark.sql(f"DESCRIBE {table_name}")

result.show()

+-------------------+---------+-------+
|           col_name|data_type|comment|
+-------------------+---------+-------+
|              Index|   string|   null|
|    Organization Id|   string|   null|
|               Name|   string|   null|
|            Website|   string|   null|
|            Country|   string|   null|
|        Description|   string|   null|
|            Founded|   string|   null|
|           Industry|   string|   null|
|Number of employees|   string|   null|
+-------------------+---------+-------+

### Window Function SQL
* OVER and ORDERBY clauses

In [12]:
# Train schedule dataset
df = spark.read.csv("./data/train_schedule.csv", header=True)
df.createOrReplaceTempView("sched")

In [13]:
spark.sql("SELECT * FROM sched ORDER BY time").show()

+--------+--------------------+--------+
|train_id|             station|    time|
+--------+--------------------+--------+
|     110|      Sydney Central|01:05 PM|
|     104|        Gare du Nord|01:20 PM|
|     107|       Madrid Atocha|01:50 PM|
|     115|   Los Angeles Union|01:50 PM|
|     102|         Kings Cross|02:00 PM|
|     113|        Cairo Ramses|02:35 PM|
|     110|   Singapore Central|03:20 PM|
|     105|       Tokyo Station|03:35 PM|
|     108| Berlin Hauptbahnhof|04:05 PM|
|     102|    Shinjuku Station|04:20 PM|
|     113| Buenos Aires Retiro|04:50 PM|
|     111|Mexico City Terminal|05:35 PM|
|     105|   Hong Kong Station|05:50 PM|
|     108|  Amsterdam Centraal|06:20 PM|
|     103|            Waterloo|06:35 PM|
|     106|    Liverpool Street|07:05 AM|
|     114|Toronto Union Sta...|07:05 AM|
|     111|     Moscow Kazansky|07:50 AM|
|     101|       Grand Central|08:15 AM|
|     109|        Rome Termini|08:35 AM|
+--------+--------------------+--------+
only showing top 20 rows

In [14]:
query = """
SELECT train_id, station, time,
LEAD(time, 1) OVER (ORDER BY time) AS time_next
FROM sched
WHERE train_id=101
"""

spark.sql(query).show()

24/01/24 14:01:25 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/01/24 14:01:25 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/01/24 14:01:25 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/01/24 14:01:25 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/01/24 14:01:25 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
+--------+-------------+--------+---------+
|train_id|      station|    time|time_next|
+--------+-------------+--------+---------+
|     101|Grand Central|08:15 AM| 10:30 AM|
|     101| Penn Station|10:30 AM| 12:45 PM|
|     101|Union Station|12:45 PM|     null|
+--------+-------------+--------+---------+

In [15]:
# Using the PARTITION BY clause in order to improve performance
query = """
SELECT train_id, station, time,
LEAD(time, 1) OVER (PARTITION BY train_id ORDER BY time) AS time_next
FROM sched
"""

spark.sql(query).show()

+--------+-------------------+--------+---------+
|train_id|            station|    time|time_next|
+--------+-------------------+--------+---------+
|     101|      Grand Central|08:15 AM| 10:30 AM|
|     101|       Penn Station|10:30 AM| 12:45 PM|
|     101|      Union Station|12:45 PM|     null|
|     102|        Kings Cross|02:00 PM| 04:20 PM|
|     102|   Shinjuku Station|04:20 PM|     null|
|     103|           Waterloo|06:35 PM| 08:50 AM|
|     103|   Victoria Station|08:50 AM|     null|
|     104|       Gare du Nord|01:20 PM| 11:05 AM|
|     104|       King's Cross|11:05 AM|     null|
|     105|      Tokyo Station|03:35 PM| 05:50 PM|
|     105|  Hong Kong Station|05:50 PM|     null|
|     106|   Liverpool Street|07:05 AM| 09:20 AM|
|     106|      Beijing South|09:20 AM|     null|
|     107|      Madrid Atocha|01:50 PM| 11:35 AM|
|     107|      Seoul Station|11:35 AM|     null|
|     108|Berlin Hauptbahnhof|04:05 PM| 06:20 PM|
|     108| Amsterdam Centraal|06:20 PM|     null|
|     109|       Rome Termini|08:35 AM| 10:50 AM|
|     109|Zurich Hauptbahnhof|10:50 AM|     null|
|     110|     Sydney Central|01:05 PM| 03:20 PM|
+--------+-------------------+--------+---------+
only showing top 20 rows

In [ ]:
#The following are example queries
query = """
SELECT 
ROW_NUMBER() OVER (ORDER BY time) AS row,
train_id, 
station, 
time, 
LEAD(time,1) OVER (ORDER BY time) AS time_next 
FROM schedule
"""

# Updated query -> Query did not include PARTITION BY clause as well as bad_row number
query = """
SELECT 
ROW_NUMBER() OVER (ORDER BY time) AS row,
train_id, 
station, 
time, 
LEAD(time,1) OVER (PARTITION BY train_id ORDER BY time) AS time_next 
FROM schedule
"""
spark.sql(query).show()

# Give the number of the bad row as an integer
bad_row = 7

# Provide the missing clause, SQL keywords in upper case
clause = 'PARTITION BY train_id'

In [16]:
# Ways to select 2 columns
df.columns

['train_id', 'station', 'time']

In [17]:
df.show(5)

+--------+----------------+--------+
|train_id|         station|    time|
+--------+----------------+--------+
|     101|   Grand Central|08:15 AM|
|     101|    Penn Station|10:30 AM|
|     101|   Union Station|12:45 PM|
|     102|     Kings Cross|02:00 PM|
|     102|Shinjuku Station|04:20 PM|
+--------+----------------+--------+
only showing top 5 rows

In [19]:
# Show only 5 records and 2 columns
df.select('train_id', 'station').show(5)

+--------+----------------+
|train_id|         station|
+--------+----------------+
|     101|   Grand Central|
|     101|    Penn Station|
|     101|   Union Station|
|     102|     Kings Cross|
|     102|Shinjuku Station|
+--------+----------------+
only showing top 5 rows

In [21]:
# The same can be achieved using <dot > notation
df.select(df.train_id, df.station).show(5)

+--------+----------------+
|train_id|         station|
+--------+----------------+
|     101|   Grand Central|
|     101|    Penn Station|
|     101|   Union Station|
|     102|     Kings Cross|
|     102|Shinjuku Station|
+--------+----------------+
only showing top 5 rows

In [22]:
# The <col> function can also be imported
# This enables passing in column names as strings
from pyspark.sql.functions import col

In [23]:
df.select(col('train_id'), col('station')).show(5)

+--------+----------------+
|train_id|         station|
+--------+----------------+
|     101|   Grand Central|
|     101|    Penn Station|
|     101|   Union Station|
|     102|     Kings Cross|
|     102|Shinjuku Station|
+--------+----------------+
only showing top 5 rows