### Spark fundamentals

In [2]:
# Import pyspark(Spark's python wrapper)
from pyspark.sql import SparkSession

In [3]:
# Create spark session
spark = SparkSession.builder.getOrCreate()

In [4]:
# Define file path
file_path = "./data/people.csv"

# Load data from a csv file
df = spark.read.csv(file_path, header=True)

# Preview data
df.show()

+-----+---------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+-------------------+
|Index|Organization Id|                Name|             Website|             Country|         Description|Founded|            Industry|Number of employees|
+-----+---------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+-------------------+
|    1|E84A904909dF528|          Liu-Hoover|http://www.day-ha...|      Western Sahara|Ergonomic zero ad...|   1980|   Online Publishing|               6851|
|    2|AAC4f9aBF86EAeF|       Orr-Armstrong|https://www.chapm...|             Algeria|Ergonomic radical...|   1970|     Import / Export|               7994|
|    3|ad2eb3C8C24DB87|           Gill-Lamb|     http://lin.com/|       Cote d'Ivoire|Programmable inte...|   2005|   Apparel / Fashion|               5105|
|    4|D76BB12E5eE165B|         Bauer-Weiss|https://gillespie...|United States of ...|Synergistic maxim...|   2015|               Dairy|               9069|
|    5|2F31EddF2Db9aAE|         Love-Palmer| https://kramer.com/|             Denmark|Optimized optimiz...|   2010|Management Consul...|               6991|
|    6|6774DC1dB00BD11|Farmer, Edwards a...|http://wolfe-boyd...|      Norfolk Island|Virtual leadinged...|   2003|  Mental Health Care|               3503|
|    7|116B5cD4eE1fAAc|Bass, Hester and ...|https://meza-smit...|          Uzbekistan|Multi-tiered syst...|   1994|   Computer Hardware|               2762|
|    8|AB2eA15d98b6BD4|Strickland, Gray ...|   http://kerr.info/|              Israel|Team-oriented fre...|   1987|     Performing Arts|               7020|
|    9|0c6D831e8DceCfE|Sparks, Decker an...|https://www.howe....|              Israel|Down-sized conten...|   1977|Marketing / Adver...|               2709|
|   10|9ABE0c8aee135d6|Osborn, Ford and ...|http://www.mcdona...|Syrian Arab Republic|Optional coherent...|   1990|Investment Bankin...|               5731|
|   11|C494aBe0CDB9c70|        Gonzales Inc|    http://lara.org/|              Angola|Enterprise-wide a...|   2019|Capital Markets /...|               2252|
|   12|9FBF69aa2D9AAF1|Ballard, Goodman ...|http://berger-che...|                Iran|Multi-layered zer...|   2019|Logistics / Procu...|               6165|
|   13|4EB9d3E5cF79b91|Bernard, Payne an...|http://williamson...|         Afghanistan|Polarized dynamic...|   1990|      Transportation|                730|
|   14|e5CA6529DCD4030| Mcpherson-Blanchard|http://www.ward.com/|            Bulgaria|Integrated didact...|   1972|     Law Enforcement|               9890|
|   15|b0BBeBB36bAbb35|Koch, Gomez and Hays|http://ewing-rosa...|French Southern T...|Operative nationa...|   1997|  Financial Services|               8497|
|   16|CDa7Ec784D5A8Bd|Meza, Ramirez and...|  https://hardy.biz/|         Timor-Leste|Customer-focused ...|   2012|Public Relations ...|               5205|
|   17|b7cBE6A9E79A56F|Morales, Hinton a...| https://hudson.com/|              Serbia|Seamless global u...|   2014|Museums / Institu...|               6706|
|   18|e5cab57FFF6f4bd|       Abbott-Arroyo| http://delgado.net/|             Hungary|Visionary holisti...|   1994|Architecture / Pl...|                117|
|   19|3851f381Ea54d70|       Trevino-Foley| https://baxter.com/|              Canada|Enterprise-wide 6...|   1973|      Wine / Spirits|               6765|
|   20|2FaDD3Ac0fB4052|Bowman, Walters a...|https://www.drake...|               Yemen|Exclusive client-...|   1988|         Think Tanks|               5926|
+-----+---------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+-------------------+
only showing top 20 rows

In [5]:
# Define table name
table_name = "organizations"

# Create an SQL table 
df.createOrReplaceTempView(table_name)

In [6]:
# Define query
query = f"SELECT * FROM {table_name}"

# Query the table
spark.sql(query).show()

+-----+---------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+-------------------+
|Index|Organization Id|                Name|             Website|             Country|         Description|Founded|            Industry|Number of employees|
+-----+---------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+-------------------+
|    1|E84A904909dF528|          Liu-Hoover|http://www.day-ha...|      Western Sahara|Ergonomic zero ad...|   1980|   Online Publishing|               6851|
|    2|AAC4f9aBF86EAeF|       Orr-Armstrong|https://www.chapm...|             Algeria|Ergonomic radical...|   1970|     Import / Export|               7994|
|    3|ad2eb3C8C24DB87|           Gill-Lamb|     http://lin.com/|       Cote d'Ivoire|Programmable inte...|   2005|   Apparel / Fashion|               5105|
|    4|D76BB12E5eE165B|         Bauer-Weiss|https://gillespie...|United States of ...|Synergistic maxim...|   2015|               Dairy|               9069|
|    5|2F31EddF2Db9aAE|         Love-Palmer| https://kramer.com/|             Denmark|Optimized optimiz...|   2010|Management Consul...|               6991|
|    6|6774DC1dB00BD11|Farmer, Edwards a...|http://wolfe-boyd...|      Norfolk Island|Virtual leadinged...|   2003|  Mental Health Care|               3503|
|    7|116B5cD4eE1fAAc|Bass, Hester and ...|https://meza-smit...|          Uzbekistan|Multi-tiered syst...|   1994|   Computer Hardware|               2762|
|    8|AB2eA15d98b6BD4|Strickland, Gray ...|   http://kerr.info/|              Israel|Team-oriented fre...|   1987|     Performing Arts|               7020|
|    9|0c6D831e8DceCfE|Sparks, Decker an...|https://www.howe....|              Israel|Down-sized conten...|   1977|Marketing / Adver...|               2709|
|   10|9ABE0c8aee135d6|Osborn, Ford and ...|http://www.mcdona...|Syrian Arab Republic|Optional coherent...|   1990|Investment Bankin...|               5731|
|   11|C494aBe0CDB9c70|        Gonzales Inc|    http://lara.org/|              Angola|Enterprise-wide a...|   2019|Capital Markets /...|               2252|
|   12|9FBF69aa2D9AAF1|Ballard, Goodman ...|http://berger-che...|                Iran|Multi-layered zer...|   2019|Logistics / Procu...|               6165|
|   13|4EB9d3E5cF79b91|Bernard, Payne an...|http://williamson...|         Afghanistan|Polarized dynamic...|   1990|      Transportation|                730|
|   14|e5CA6529DCD4030| Mcpherson-Blanchard|http://www.ward.com/|            Bulgaria|Integrated didact...|   1972|     Law Enforcement|               9890|
|   15|b0BBeBB36bAbb35|Koch, Gomez and Hays|http://ewing-rosa...|French Southern T...|Operative nationa...|   1997|  Financial Services|               8497|
|   16|CDa7Ec784D5A8Bd|Meza, Ramirez and...|  https://hardy.biz/|         Timor-Leste|Customer-focused ...|   2012|Public Relations ...|               5205|
|   17|b7cBE6A9E79A56F|Morales, Hinton a...| https://hudson.com/|              Serbia|Seamless global u...|   2014|Museums / Institu...|               6706|
|   18|e5cab57FFF6f4bd|       Abbott-Arroyo| http://delgado.net/|             Hungary|Visionary holisti...|   1994|Architecture / Pl...|                117|
|   19|3851f381Ea54d70|       Trevino-Foley| https://baxter.com/|              Canada|Enterprise-wide 6...|   1973|      Wine / Spirits|               6765|
|   20|2FaDD3Ac0fB4052|Bowman, Walters a...|https://www.drake...|               Yemen|Exclusive client-...|   1988|         Think Tanks|               5926|
+-----+---------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+-------------------+
only showing top 20 rows

In [6]:
# Inspect table schema
result = spark.sql(f"SHOW COLUMNS FROM {table_name}")

result.show()

+-------------------+
|           col_name|
+-------------------+
|              Index|
|    Organization Id|
|               Name|
|            Website|
|            Country|
|        Description|
|            Founded|
|           Industry|
|Number of employees|
+-------------------+

In [7]:
# Inspect table schema
result = spark.sql(f"SELECT * FROM {table_name} LIMIT 0")

print(result.columns)

['Index', 'Organization Id', 'Name', 'Website', 'Country', 'Description', 'Founded', 'Industry', 'Number of employees']

In [8]:
# Inspect table schema
result = spark.sql(f"DESCRIBE {table_name}")

result.show()

+-------------------+---------+-------+
|           col_name|data_type|comment|
+-------------------+---------+-------+
|              Index|   string|   null|
|    Organization Id|   string|   null|
|               Name|   string|   null|
|            Website|   string|   null|
|            Country|   string|   null|
|        Description|   string|   null|
|            Founded|   string|   null|
|           Industry|   string|   null|
|Number of employees|   string|   null|
+-------------------+---------+-------+

### Window Function SQL
* OVER and ORDERBY clauses

In [7]:
# Train schedule dataset
df = spark.read.csv("./data/train_schedule.csv", header=True)
df.createOrReplaceTempView("sched")

In [8]:
spark.sql("SELECT * FROM sched ORDER BY time").show()

+--------+--------------------+--------+
|train_id|             station|    time|
+--------+--------------------+--------+
|     110|      Sydney Central|01:05 PM|
|     104|        Gare du Nord|01:20 PM|
|     107|       Madrid Atocha|01:50 PM|
|     115|   Los Angeles Union|01:50 PM|
|     102|         Kings Cross|02:00 PM|
|     113|        Cairo Ramses|02:35 PM|
|     110|   Singapore Central|03:20 PM|
|     105|       Tokyo Station|03:35 PM|
|     108| Berlin Hauptbahnhof|04:05 PM|
|     102|    Shinjuku Station|04:20 PM|
|     113| Buenos Aires Retiro|04:50 PM|
|     111|Mexico City Terminal|05:35 PM|
|     105|   Hong Kong Station|05:50 PM|
|     108|  Amsterdam Centraal|06:20 PM|
|     103|            Waterloo|06:35 PM|
|     106|    Liverpool Street|07:05 AM|
|     114|Toronto Union Sta...|07:05 AM|
|     111|     Moscow Kazansky|07:50 AM|
|     101|       Grand Central|08:15 AM|
|     109|        Rome Termini|08:35 AM|
+--------+--------------------+--------+
only showing top 20 rows

In [9]:
query = """
SELECT train_id, station, time,
LEAD(time, 1) OVER (ORDER BY time) AS time_next
FROM sched
WHERE train_id=101
"""

spark.sql(query).show()

24/01/25 11:23:53 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/01/25 11:23:53 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/01/25 11:23:53 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/01/25 11:23:53 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/01/25 11:23:53 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
+--------+-------------+--------+---------+
|train_id|      station|    time|time_next|
+--------+-------------+--------+---------+
|     101|Grand Central|08:15 AM| 10:30 AM|
|     101| Penn Station|10:30 AM| 12:45 PM|
|     101|Union Station|12:45 PM|     null|
+--------+-------------+--------+---------+

In [10]:
# Using the PARTITION BY clause in order to improve performance
query = """
SELECT train_id, station, time,
LEAD(time, 1) OVER (PARTITION BY train_id ORDER BY time) AS time_next
FROM sched
"""

spark.sql(query).show()

+--------+-------------------+--------+---------+
|train_id|            station|    time|time_next|
+--------+-------------------+--------+---------+
|     101|      Grand Central|08:15 AM| 10:30 AM|
|     101|       Penn Station|10:30 AM| 12:45 PM|
|     101|      Union Station|12:45 PM|     null|
|     102|        Kings Cross|02:00 PM| 04:20 PM|
|     102|   Shinjuku Station|04:20 PM|     null|
|     103|           Waterloo|06:35 PM| 08:50 AM|
|     103|   Victoria Station|08:50 AM|     null|
|     104|       Gare du Nord|01:20 PM| 11:05 AM|
|     104|       King's Cross|11:05 AM|     null|
|     105|      Tokyo Station|03:35 PM| 05:50 PM|
|     105|  Hong Kong Station|05:50 PM|     null|
|     106|   Liverpool Street|07:05 AM| 09:20 AM|
|     106|      Beijing South|09:20 AM|     null|
|     107|      Madrid Atocha|01:50 PM| 11:35 AM|
|     107|      Seoul Station|11:35 AM|     null|
|     108|Berlin Hauptbahnhof|04:05 PM| 06:20 PM|
|     108| Amsterdam Centraal|06:20 PM|     null|
|     109|       Rome Termini|08:35 AM| 10:50 AM|
|     109|Zurich Hauptbahnhof|10:50 AM|     null|
|     110|     Sydney Central|01:05 PM| 03:20 PM|
+--------+-------------------+--------+---------+
only showing top 20 rows

In [11]:
#The following are example queries
query = """
SELECT 
ROW_NUMBER() OVER (ORDER BY time) AS row,
train_id, 
station, 
time, 
LEAD(time,1) OVER (ORDER BY time) AS time_next 
FROM schedule
"""

# Updated query -> Query did not include PARTITION BY clause as well as bad_row number
query = """
SELECT 
ROW_NUMBER() OVER (ORDER BY time) AS row,
train_id, 
station, 
time, 
LEAD(time,1) OVER (PARTITION BY train_id ORDER BY time) AS time_next 
FROM schedule
"""
spark.sql(query).show()

# Give the number of the bad row as an integer
bad_row = 7

# Provide the missing clause, SQL keywords in upper case
clause = 'PARTITION BY train_id'

24/01/25 11:23:59 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
24/01/25 11:23:59 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist
24/01/25 11:23:59 WARN Hive: Failed to register all functions.
java.lang.RuntimeException: Unable to instantiate org.apache.hadoop.hive.ql.metadata.SessionHiveMetaStoreClient
	at org.apache.hadoop.hive.metastore.MetaStoreUtils.newInstance(MetaStoreUtils.java:1709)
	at org.apache.hadoop.hive.metastore.RetryingMetaStoreClient.<init>(RetryingMetaStoreClient.java:83)
	at org.apache.hadoop.hive.metastore.RetryingMetaStoreClient.getProxy(RetryingMetaStoreClient.java:133)
	at org.apache.hadoop.hive.metastore.RetryingMetaStoreClient.getProxy(RetryingMetaStoreClient.java:104)
	at org.apache.hadoop.hive.ql.metadata.Hive.createMetaStoreClient(Hive.java:3662)
	at org.apache.hadoop.hive.ql.metadata.Hive.getMSC(Hive.java:3714)
	at org.apache.hadoop.hive.ql.metadata.Hive.getMSC(Hive.java:3694)
	at org.apache.hadoop.hive.ql.metadata.Hive.getAllFunctions(Hive.java:3956)
	at org.apache.hadoop.hive.ql.metadata.Hive.reloadFunctions(Hive.java:249)
	at org.apache.hadoop.hive.ql.metadata.Hive.registerAllFunctionsOnce(Hive.java:232)
	at org.apache.hadoop.hive.ql.metadata.Hive.<init>(Hive.java:389)
	at org.apache.hadoop.hive.ql.metadata.Hive.create(Hive.java:333)
	at org.apache.hadoop.hive.ql.metadata.Hive.getInternal(Hive.java:313)
	at org.apache.hadoop.hive.ql.metadata.Hive.get(Hive.java:289)
	at org.apache.spark.sql.hive.client.HiveClientImpl$.getHive(HiveClientImpl.scala:1339)
	at org.apache.spark.sql.hive.client.HiveClientImpl.client(HiveClientImpl.scala:262)
	at org.apache.spark.sql.hive.client.HiveClientImpl.$anonfun$withHiveState$1(HiveClientImpl.scala:287)
	at org.apache.spark.sql.hive.client.HiveClientImpl.liftedTree1$1(HiveClientImpl.scala:229)
	at org.apache.spark.sql.hive.client.HiveClientImpl.retryLocked(HiveClientImpl.scala:228)
	at org.apache.spark.sql.hive.client.HiveClientImpl.withHiveState(HiveClientImpl.scala:278)
	at org.apache.spark.sql.hive.client.HiveClientImpl.databaseExists(HiveClientImpl.scala:398)
	at org.apache.spark.sql.hive.HiveExternalCatalog.$anonfun$databaseExists$1(HiveExternalCatalog.scala:223)
	at scala.runtime.java8.JFunction0$mcZ$sp.apply(JFunction0$mcZ$sp.java:23)
	at org.apache.spark.sql.hive.HiveExternalCatalog.withClient(HiveExternalCatalog.scala:101)
	at org.apache.spark.sql.hive.HiveExternalCatalog.databaseExists(HiveExternalCatalog.scala:223)
	at org.apache.spark.sql.internal.SharedState.externalCatalog$lzycompute(SharedState.scala:150)
	at org.apache.spark.sql.internal.SharedState.externalCatalog(SharedState.scala:140)
	at org.apache.spark.sql.hive.HiveSessionStateBuilder.externalCatalog(HiveSessionStateBuilder.scala:54)
	at org.apache.spark.sql.hive.HiveSessionStateBuilder.$anonfun$catalog$1(HiveSessionStateBuilder.scala:69)
	at org.apache.spark.sql.catalyst.catalog.SessionCatalog.externalCatalog$lzycompute(SessionCatalog.scala:121)
	at org.apache.spark.sql.catalyst.catalog.SessionCatalog.externalCatalog(SessionCatalog.scala:121)
	at org.apache.spark.sql.catalyst.catalog.SessionCatalog.databaseExists(SessionCatalog.scala:290)
	at org.apache.spark.sql.catalyst.catalog.SessionCatalog.requireDbExists(SessionCatalog.scala:218)
	at org.apache.spark.sql.catalyst.catalog.SessionCatalog.getTableRawMetadata(SessionCatalog.scala:513)
	at org.apache.spark.sql.catalyst.catalog.SessionCatalog.getTableMetadata(SessionCatalog.scala:500)
	at org.apache.spark.sql.execution.datasources.v2.V2SessionCatalog.loadTable(V2SessionCatalog.scala:66)
	at org.apache.spark.sql.connector.catalog.CatalogV2Util$.loadTable(CatalogV2Util.scala:311)
	at org.apache.spark.sql.catalyst.analysis.Analyzer$ResolveRelations$.$anonfun$lookupRelation$3(Analyzer.scala:1202)
	at scala.Option.orElse(Option.scala:447)
	at org.apache.spark.sql.catalyst.analysis.Analyzer$ResolveRelations$.$anonfun$lookupRelation$1(Analyzer.scala:1201)
	at scala.Option.orElse(Option.scala:447)
	at org.apache.spark.sql.catalyst.analysis.Analyzer$ResolveRelations$.org$apache$spark$sql$catalyst$analysis$Analyzer$ResolveRelations$$lookupRelation(Analyzer.scala:1193)
	at org.apache.spark.sql.catalyst.analysis.Analyzer$ResolveRelations$$anonfun$apply$13.applyOrElse(Analyzer.scala:1064)
	at org.apache.spark.sql.catalyst.analysis.Analyzer$ResolveRelations$$anonfun$apply$13.applyOrElse(Analyzer.scala:1028)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.$anonfun$resolveOperatorsUpWithPruning$3(AnalysisHelper.scala:138)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(TreeNode.scala:176)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.$anonfun$resolveOperatorsUpWithPruning$1(AnalysisHelper.scala:138)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.allowInvokingTransformsInAnalyzer(AnalysisHelper.scala:323)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.resolveOperatorsUpWithPruning(AnalysisHelper.scala:134)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.resolveOperatorsUpWithPruning$(AnalysisHelper.scala:130)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.resolveOperatorsUpWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.$anonfun$resolveOperatorsUpWithPruning$2(AnalysisHelper.scala:135)
	at org.apache.spark.sql.catalyst.trees.UnaryLike.mapChildren(TreeNode.scala:1228)
	at org.apache.spark.sql.catalyst.trees.UnaryLike.mapChildren$(TreeNode.scala:1227)
	at org.apache.spark.sql.catalyst.plans.logical.OrderPreservingUnaryNode.mapChildren(LogicalPlan.scala:208)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.$anonfun$resolveOperatorsUpWithPruning$1(AnalysisHelper.scala:135)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.allowInvokingTransformsInAnalyzer(AnalysisHelper.scala:323)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.resolveOperatorsUpWithPruning(AnalysisHelper.scala:134)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.resolveOperatorsUpWithPruning$(AnalysisHelper.scala:130)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.resolveOperatorsUpWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.analysis.Analyzer$ResolveRelations$.apply(Analyzer.scala:1028)
	at org.apache.spark.sql.catalyst.analysis.Analyzer$ResolveRelations$.apply(Analyzer.scala:987)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor.$anonfun$execute$2(RuleExecutor.scala:211)
	at scala.collection.LinearSeqOptimized.foldLeft(LinearSeqOptimized.scala:126)
	at scala.collection.LinearSeqOptimized.foldLeft$(LinearSeqOptimized.scala:122)
	at scala.collection.immutable.List.foldLeft(List.scala:91)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor.$anonfun$execute$1(RuleExecutor.scala:208)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor.$anonfun$execute$1$adapted(RuleExecutor.scala:200)
	at scala.collection.immutable.List.foreach(List.scala:431)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor.execute(RuleExecutor.scala:200)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.org$apache$spark$sql$catalyst$analysis$Analyzer$$executeSameContext(Analyzer.scala:231)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.$anonfun$execute$1(Analyzer.scala:227)
	at org.apache.spark.sql.catalyst.analysis.AnalysisContext$.withNewAnalysisContext(Analyzer.scala:173)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.execute(Analyzer.scala:227)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.execute(Analyzer.scala:188)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor.$anonfun$executeAndTrack$1(RuleExecutor.scala:179)
	at org.apache.spark.sql.catalyst.QueryPlanningTracker$.withTracker(QueryPlanningTracker.scala:88)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor.executeAndTrack(RuleExecutor.scala:179)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.$anonfun$executeAndCheck$1(Analyzer.scala:212)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.markInAnalyzer(AnalysisHelper.scala:330)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.executeAndCheck(Analyzer.scala:211)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$analyzed$1(QueryExecution.scala:76)
	at org.apache.spark.sql.catalyst.QueryPlanningTracker.measurePhase(QueryPlanningTracker.scala:111)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$2(QueryExecution.scala:185)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:512)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$1(QueryExecution.scala:185)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:779)
	at org.apache.spark.sql.execution.QueryExecution.executePhase(QueryExecution.scala:184)
	at org.apache.spark.sql.execution.QueryExecution.analyzed$lzycompute(QueryExecution.scala:76)
	at org.apache.spark.sql.execution.QueryExecution.analyzed(QueryExecution.scala:74)
	at org.apache.spark.sql.execution.QueryExecution.assertAnalyzed(QueryExecution.scala:66)
	at org.apache.spark.sql.Dataset$.$anonfun$ofRows$2(Dataset.scala:99)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:779)
	at org.apache.spark.sql.Dataset$.ofRows(Dataset.scala:97)
	at org.apache.spark.sql.SparkSession.$anonfun$sql$1(SparkSession.scala:622)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:779)
	at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:617)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:568)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:840)
Caused by: java.lang.reflect.InvocationTargetException
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:77)
	at java.base/jdk.internal.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
	at java.base/java.lang.reflect.Constructor.newInstanceWithCaller(Constructor.java:499)
	at java.base/java.lang.reflect.Constructor.newInstance(Constructor.java:480)
	at org.apache.hadoop.hive.metastore.MetaStoreUtils.newInstance(MetaStoreUtils.java:1707)
	... 108 more
Caused by: MetaException(message:org/datanucleus/store/query/cache/QueryCompilationCache)
	at org.apache.hadoop.hive.metastore.RetryingHMSHandler.<init>(RetryingHMSHandler.java:83)
	at org.apache.hadoop.hive.metastore.RetryingHMSHandler.getProxy(RetryingHMSHandler.java:92)
	at org.apache.hadoop.hive.metastore.HiveMetaStore.newRetryingHMSHandler(HiveMetaStore.java:6950)
	at org.apache.hadoop.hive.metastore.HiveMetaStoreClient.<init>(HiveMetaStoreClient.java:164)
	at org.apache.hadoop.hive.ql.metadata.SessionHiveMetaStoreClient.<init>(SessionHiveMetaStoreClient.java:70)
	... 114 more
Caused by: java.lang.NoClassDefFoundError: org/datanucleus/store/query/cache/QueryCompilationCache
	at java.base/java.lang.Class.getDeclaredMethods0(Native Method)
	at java.base/java.lang.Class.privateGetDeclaredMethods(Class.java:3402)
	at java.base/java.lang.Class.getMethodsRecursive(Class.java:3543)
	at java.base/java.lang.Class.getMethod0(Class.java:3529)
	at java.base/java.lang.Class.getMethod(Class.java:2225)
	at javax.jdo.JDOHelper$15.run(JDOHelper.java:1944)
	at javax.jdo.JDOHelper$15.run(JDOHelper.java:1942)
	at java.base/java.security.AccessController.doPrivileged(AccessController.java:569)
	at javax.jdo.JDOHelper.getMethod(JDOHelper.java:1941)
	at javax.jdo.JDOHelper.invokeGetPersistenceManagerFactoryOnImplementation(JDOHelper.java:1163)
	at javax.jdo.JDOHelper.getPersistenceManagerFactory(JDOHelper.java:808)
	at javax.jdo.JDOHelper.getPersistenceManagerFactory(JDOHelper.java:701)
	at org.apache.hadoop.hive.metastore.ObjectStore.getPMF(ObjectStore.java:521)
	at org.apache.hadoop.hive.metastore.ObjectStore.getPersistenceManager(ObjectStore.java:550)
	at org.apache.hadoop.hive.metastore.ObjectStore.initializeHelper(ObjectStore.java:405)
	at org.apache.hadoop.hive.metastore.ObjectStore.initialize(ObjectStore.java:342)
	at org.apache.hadoop.hive.metastore.ObjectStore.setConf(ObjectStore.java:303)
	at org.apache.hadoop.util.ReflectionUtils.setConf(ReflectionUtils.java:79)
	at org.apache.hadoop.util.ReflectionUtils.newInstance(ReflectionUtils.java:140)
	at org.apache.hadoop.hive.metastore.RawStoreProxy.<init>(RawStoreProxy.java:58)
	at org.apache.hadoop.hive.metastore.RawStoreProxy.getProxy(RawStoreProxy.java:67)
	at org.apache.hadoop.hive.metastore.HiveMetaStore$HMSHandler.newRawStoreForConf(HiveMetaStore.java:629)
	at org.apache.hadoop.hive.metastore.HiveMetaStore$HMSHandler.getMSForConf(HiveMetaStore.java:595)
	at org.apache.hadoop.hive.metastore.HiveMetaStore$HMSHandler.getMS(HiveMetaStore.java:589)
	at org.apache.hadoop.hive.metastore.HiveMetaStore$HMSHandler.createDefaultDB(HiveMetaStore.java:656)
	at org.apache.hadoop.hive.metastore.HiveMetaStore$HMSHandler.init(HiveMetaStore.java:432)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:568)
	at org.apache.hadoop.hive.metastore.RetryingHMSHandler.invokeInternal(RetryingHMSHandler.java:148)
	at org.apache.hadoop.hive.metastore.RetryingHMSHandler.invoke(RetryingHMSHandler.java:107)
	at org.apache.hadoop.hive.metastore.RetryingHMSHandler.<init>(RetryingHMSHandler.java:79)
	... 118 more
Caused by: java.lang.ClassNotFoundException: org.datanucleus.store.query.cache.QueryCompilationCache
	at java.base/jdk.internal.loader.BuiltinClassLoader.loadClass(BuiltinClassLoader.java:641)
	at java.base/jdk.internal.loader.ClassLoaders$AppClassLoader.loadClass(ClassLoaders.java:188)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:525)
	... 151 more

AnalysisException: org.apache.hadoop.hive.ql.metadata.HiveException: java.lang.RuntimeException: Unable to instantiate org.apache.hadoop.hive.ql.metadata.SessionHiveMetaStoreClient

In [16]:
# Ways to select 2 columns
df.columns

['train_id', 'station', 'time']

In [12]:
df.show(5)

+--------+----------------+--------+
|train_id|         station|    time|
+--------+----------------+--------+
|     101|   Grand Central|08:15 AM|
|     101|    Penn Station|10:30 AM|
|     101|   Union Station|12:45 PM|
|     102|     Kings Cross|02:00 PM|
|     102|Shinjuku Station|04:20 PM|
+--------+----------------+--------+
only showing top 5 rows

In [19]:
# Show only 5 records and 2 columns
df.select('train_id', 'station').show(5)

+--------+----------------+
|train_id|         station|
+--------+----------------+
|     101|   Grand Central|
|     101|    Penn Station|
|     101|   Union Station|
|     102|     Kings Cross|
|     102|Shinjuku Station|
+--------+----------------+
only showing top 5 rows

In [21]:
# The same can be achieved using <dot > notation
df.select(df.train_id, df.station).show(5)

+--------+----------------+
|train_id|         station|
+--------+----------------+
|     101|   Grand Central|
|     101|    Penn Station|
|     101|   Union Station|
|     102|     Kings Cross|
|     102|Shinjuku Station|
+--------+----------------+
only showing top 5 rows

In [15]:
# The <col> function can also be imported
# This enables passing in column names as strings
from pyspark.sql.functions import col

In [23]:
df.select(col('train_id'), col('station')).show(5)

+--------+----------------+
|train_id|         station|
+--------+----------------+
|     101|   Grand Central|
|     101|    Penn Station|
|     101|   Union Station|
|     102|     Kings Cross|
|     102|Shinjuku Station|
+--------+----------------+
only showing top 5 rows

In [30]:
# Using the <withColumnRenamed> function
df.select('train_id', 'station').withColumnRenamed('train_id', 'train').show(5)

+-----+----------------+
|train|         station|
+-----+----------------+
|  101|   Grand Central|
|  101|    Penn Station|
|  101|   Union Station|
|  102|     Kings Cross|
|  102|Shinjuku Station|
+-----+----------------+
only showing top 5 rows

* Note -> Avoid using all 3 conventions at the same time

In [13]:
table_name = 'sched'
target_col = 'train_id'
sup_col = 'station'

spark.sql(f'SELECT {target_col} AS train, {sup_col} FROM {table_name} LIMIT 5').show()

+-----+----------------+
|train|         station|
+-----+----------------+
|  101|   Grand Central|
|  101|    Penn Station|
|  101|   Union Station|
|  102|     Kings Cross|
|  102|Shinjuku Station|
+-----+----------------+

In [18]:
# Using dot notation to achieve the same results
df.select(col('train_id').alias('train'), 'station').limit(5).show()

+-----+----------------+
|train|         station|
+-----+----------------+
|  101|   Grand Central|
|  101|    Penn Station|
|  101|   Union Station|
|  102|     Kings Cross|
|  102|Shinjuku Station|
+-----+----------------+

In [22]:
# Using Window Functions to achieve the same results

# The following query adds a number to each stop on a train line -- in a new column called id 
query = """
SELECT *,
ROW_NUMBER() OVER(PARTITION BY train_id ORDER BY time) AS id
FROM sched
"""

spark.sql(query).show(11)

+--------+-----------------+--------+---+
|train_id|          station|    time| id|
+--------+-----------------+--------+---+
|     101|    Grand Central|08:15 AM|  1|
|     101|     Penn Station|10:30 AM|  2|
|     101|    Union Station|12:45 PM|  3|
|     102|      Kings Cross|02:00 PM|  1|
|     102| Shinjuku Station|04:20 PM|  2|
|     103|         Waterloo|06:35 PM|  1|
|     103| Victoria Station|08:50 AM|  2|
|     104|     Gare du Nord|01:20 PM|  1|
|     104|     King's Cross|11:05 AM|  2|
|     105|    Tokyo Station|03:35 PM|  1|
|     105|Hong Kong Station|05:50 PM|  2|
+--------+-----------------+--------+---+
only showing top 11 rows

In [27]:
# Using Window Functions to achieve the same results with dot notation
from pyspark.sql import Window
from pyspark.sql.functions import row_number

df.withColumn("id", row_number().over(Window.partitionBy('train_id').orderBy('time'))).show(11)

+--------+-----------------+--------+---+
|train_id|          station|    time| id|
+--------+-----------------+--------+---+
|     101|    Grand Central|08:15 AM|  1|
|     101|     Penn Station|10:30 AM|  2|
|     101|    Union Station|12:45 PM|  3|
|     102|      Kings Cross|02:00 PM|  1|
|     102| Shinjuku Station|04:20 PM|  2|
|     103|         Waterloo|06:35 PM|  1|
|     103| Victoria Station|08:50 AM|  2|
|     104|     Gare du Nord|01:20 PM|  1|
|     104|     King's Cross|11:05 AM|  2|
|     105|    Tokyo Station|03:35 PM|  1|
|     105|Hong Kong Station|05:50 PM|  2|
+--------+-----------------+--------+---+
only showing top 11 rows

In [28]:
# Consider the following examples
# Give the identical result in each command
spark.sql('SELECT train_id, MIN(time) AS start FROM sched GROUP BY train_id').show()
df.groupBy('train_id').agg({'time':'min'}).withColumnRenamed('min(time)', 'start').show()

# Print the second column of the result
spark.sql('SELECT train_id, MIN(time), MAX(time) FROM sched GROUP BY train_id').show()
result = df.groupBy('train_id').agg({'time':'min', 'time':'max'})
result.show()
print(result.columns[1])

+--------+--------+
|train_id|   start|
+--------+--------+
|     101|08:15 AM|
|     102|02:00 PM|
|     103|06:35 PM|
|     104|01:20 PM|
|     105|03:35 PM|
|     106|07:05 AM|
|     107|01:50 PM|
|     108|04:05 PM|
|     109|08:35 AM|
|     110|01:05 PM|
|     111|05:35 PM|
|     112|10:05 AM|
|     113|02:35 PM|
|     114|07:05 AM|
|     115|01:50 PM|
+--------+--------+

+--------+--------+
|train_id|   start|
+--------+--------+
|     101|08:15 AM|
|     102|02:00 PM|
|     103|06:35 PM|
|     104|01:20 PM|
|     105|03:35 PM|
|     106|07:05 AM|
|     107|01:50 PM|
|     108|04:05 PM|
|     109|08:35 AM|
|     110|01:05 PM|
|     111|05:35 PM|
|     112|10:05 AM|
|     113|02:35 PM|
|     114|07:05 AM|
|     115|01:50 PM|
+--------+--------+

+--------+---------+---------+
|train_id|min(time)|max(time)|
+--------+---------+---------+
|     101| 08:15 AM| 12:45 PM|
|     102| 02:00 PM| 04:20 PM|
|     103| 06:35 PM| 08:50 AM|
|     104| 01:20 PM| 11:05 AM|
|     105| 03:35 PM| 05:50 PM|
|     106| 07:05 AM| 09:20 AM|
|     107| 01:50 PM| 11:35 AM|
|     108| 04:05 PM| 06:20 PM|
|     109| 08:35 AM| 10:50 AM|
|     110| 01:05 PM| 03:20 PM|
|     111| 05:35 PM| 07:50 AM|
|     112| 10:05 AM| 12:20 PM|
|     113| 02:35 PM| 04:50 PM|
|     114| 07:05 AM| 09:20 AM|
|     115| 01:50 PM| 11:35 AM|
+--------+---------+---------+

+--------+---------+
|train_id|max(time)|
+--------+---------+
|     101| 12:45 PM|
|     102| 04:20 PM|
|     103| 08:50 AM|
|     104| 11:05 AM|
|     105| 05:50 PM|
|     106| 09:20 AM|
|     107| 11:35 AM|
|     108| 06:20 PM|
|     109| 10:50 AM|
|     110| 03:20 PM|
|     111| 07:50 AM|
|     112| 12:20 PM|
|     113| 04:50 PM|
|     114| 09:20 AM|
|     115| 11:35 AM|
+--------+---------+

max(time)

In [30]:
# Aggregating the same column twice

# There are cases where dot notation can be more cumbersome than SQL. 
# This sample code calculates the first and last times for each train line. 
# The following code does this using dot notation.

from pyspark.sql.functions import min, max, col
expr = [min(col("time")).alias('start'), max(col("time")).alias('end')]
dot_df = df.groupBy("train_id").agg(*expr)
dot_df.show(5)

+--------+--------+--------+
|train_id|   start|     end|
+--------+--------+--------+
|     101|08:15 AM|12:45 PM|
|     102|02:00 PM|04:20 PM|
|     103|06:35 PM|08:50 AM|
|     104|01:20 PM|11:05 AM|
|     105|03:35 PM|05:50 PM|
+--------+--------+--------+
only showing top 5 rows